@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abhaya Libre', serif;
}


.box {
  min-width: 300px;
  height: 300px;
  overflow: scroll;
  text-align: center;
  align-items: center;
  font-size: 1rem;
  color: #000000;
  border-radius: 20px;

}

/* CSS for the popup container */
.popup-container {
  background-color: #333;
  color: #f0f0f0;
}

/* CSS animation for the background color */
@keyframes dark-theme-animation {
  0% {
    background-color: #333;
  }

  50% {
    background-color: #222;
  }

  100% {
    background-color: #333;
  }
}

/* Apply the background color animation */
.popup-container {
  animation: dark-theme-animation 5s infinite;
}

/* CSS animation for the text color */
@keyframes text-color-animation {
  0% {
    color: #fff;
  }

  50% {
    color: #ddd;
  }

  100% {
    color: #fff;
  }
}

/* Apply the text color animation */
.popup-container {
  animation: text-color-animation 5s infinite;
}

/* Scrollbar styling */
.popup-container::-webkit-scrollbar {
  width: 8px;
  background-color: #222;
}

.popup-container::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 4px;
}

.popup-container::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}


p {
  font-weight: 900;
  color:  #FF0000;
  background-color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  height: 40px;
}

span {
  color: #ff9800;
}

a {
  color: #fff;
}

/* CSS */
button {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

button:hover,
button:focus {
  background-color: #07c;
}

button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

button:active {
  background-color: #0064bd;
  box-shadow: none;
}

@media (max-width: 200px) {
  .box {
    width: 100%;
    height: auto;
    font-size: 0.9rem;
  }

  .popup-container {
    width: 100%;
    height: auto;
  }
}